<h1>Kişi Ekleme Formu</h1>
<form [formGroup]="kisiForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter name" formControlName="name" required minlength="3">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter surname" formControlName="surname">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter age" formControlName="age">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter address" formControlName="address">
    </div>
    <div class="form-group">
        <select formControlName="country" class="form-control">
            <option *ngFor="let item of countries">{{item}}</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" value="Gönder">
    </div>

</form>



<h1>Kişiler</h1>
<table class="table table-responsive">
    <thead>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Age</td>
            <td>Address</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of kisiler">
            <td>{{item.name}}</td>
            <td>{{item.surname}}</td>
            <td>{{item.age}}</td>
            <td>{{item.address}}</td>
            <td>{{item.country}}</td>
        </tr>
    </tbody>
</table>