<h1>Ürün Ekleme Formu</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter productname" formControlName="productname">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter description" formControlName="description">
    </div>
    <!-- <h3>Adres</h3>
    <div formGroupName="address" >
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter street" formControlName="street">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter city" formControlName="city">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter country" formControlName="country">
        </div>
    </div> -->

    <div class="form-group">
        <input type="submit" class="form-control" value="Gönder">
    </div>
</form>